<div class="flex justify-end pr-8 p-4 bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
  <!-- Right side - Add New Client button -->
  <div>
    <%= link_to new_client_path, class: 'no-underline' do %>
      <button class="flex items-center space-x-1 bg-[#3F8CFF] hover:bg-[#3A81EB] px-4 py-2 rounded-lg font-bold text-slate-100">
        å Create New Client
      </button>
    <% end %>
  </div>
</div>