<div class="flex flex-col h-screen w-full ml-64">
  <div class="w-full">
    <%= render "client_index_topbar" %>
  </div>

  <div class="flex-grow w-full overflow-y-auto">
    <%= render "clients" %>
  </div>
</div>