<div class="grid grid-cols-7 gap-4 mb-4">
  <div class="col-span-4">
    <div class="flex items-center justify-center rounded-sm bg-gray-50 h-full dark:bg-gray-800">
      <p>
        Recent Transaction limit to 5 or 10 transactions.
      </p>
    </div>
  </div>
  <div class="col-span-3">
    <div class="flex items-center justify-center rounded-sm bg-gray-50 h-60 dark:bg-gray-800">
      <p>Transaction Success Rate</p>

    </div>
  </div>
</div>
